<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.onewisebit.scpescape">

    <application
        android:name="com.onewisebit.scpescape.di.SCPApplication"
        android:fullBackupContent="@xml/scp_backup_rules"
        android:allowBackup="true"
        android:icon="@drawable/icon_day_broke"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_day_broke"
        android:supportsRtl="true"
        android:theme="@style/Theme.${application_theme}"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.onewisebit.scpescape.main.activity.view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.onewisebit.scpescape.game.activity.view.GameActivity">
        </activity>
    </application>

</manifest>